body {
  background-color: #444;
  font-family: "Open Sans", sans-serif;
  margin: 25px 0;
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);

}
p {
  font-size: 15px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: left;
  font-weight: lighter;
  margin-bottom: 15px;
}
ul {
  font-size: 15px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: left;
  font-weight: lighter;
  margin-bottom: 15px;
}
ol {
  font-size: 15px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: left;
  font-weight: lighter;
  margin-bottom: 15px;
  margin-left:-17px;
}
h1 {
  font-size: 59px;
  line-height: 78px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
  color: #db1d7a;
  padding-bottom: 4px;
}
h2 {
  font-size: 23px;
  line-height: 38px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 4px;
  border-bottom: 1px solid #FFFFFF;
}
h3 {
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 1px;
  font-weight: lighter;
    color: #db1d7a;
  padding-bottom: 8px;
  padding-top: 3px;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;

}
.main {
  width:740px;
  margin: 0 auto;
  padding: 25px 55px;
  background-color: #000000;
  border: 1px solid #fff;
}
.images {
  max-width: 800px;


}
.image1 {
  width: 400px;
  height: 300px;
}
.image2 {
  width: 626px;
  height: 46px;
}
.image3 {
  width: 450px;
  height: 140px;
}
.image4 {
  width: 381px;
  height: 258px;
}
.rosa {
  color: #db1d7a;
  font-size: 19px;
  margin-bottom: -9px;
  letter-spacing: 1px;
}
.box1 {
  display: inline-block;
  width: 20%;
}
.box2 {
  display: inline-block;
  width: 80%;
}
